/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* Variables */

:root {
  --color-bg:#2f2f2f;

  --color-primary:#5263dd; /*#4E57A1*/
  --color-primary-light:#36e6ff;
  --color-primary-disabled:#484b5a;
  --color-primary-light-disabled:#5dadb8;

  --color-danger:#ff5a5f;
  --color-danger-dark:rgb(165, 64, 64);
  --color-danger-light:rgb(255, 95, 95);

  --color-warning:#ffb400;
  --color-warning-dark:#bd8400;
  --color-warning-light:#ffcc53;

  --color-success:#2dd470;
  --color-success-dark:rgb(63, 141, 89);
  --color-success-light:rgb(54, 255, 104);

  --font: "Nunito", sans-serif;
}

/* General configuration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.descripciones {
  font-size: 20px;
}

.dangerBox {
  background: linear-gradient(
    45deg,
    var(--color-danger-dark) 0%,
    var(--color-danger-light) 100%
  ) !important;
  box-shadow: 0 0.2rem 10px rgba(197, 78, 78, 0.4) !important;
}

.warningBox {
  background: linear-gradient(
    45deg,
    var(--color-warning-dark) 0%,
    var(--color-warning-light) 100%
  ) !important;
  box-shadow: 0 0.2rem 10px rgba(204, 169, 71, 0.4) !important;
}

.successBox {
  background: linear-gradient(
    45deg,
    var(--color-success-dark) 0%,
    var(--color-success-light) 100%
  ) !important;
  box-shadow: 0 0.2rem 10px rgba(50, 150, 80, 0.4) !important;
}

.loadingBox {
  background: linear-gradient(
    45deg,
    var(--color-primary-disabled) 0%,
    var(rgb(168, 168, 168)) 100%
  ) !important;
  box-shadow: 0 0.2rem 10px rgba(141, 141, 141, 0.4) !important;
}

.panel {
  height: calc(100vh - 100px);
  padding: 1rem 0;
  padding: 1rem 0 120px 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.swal2-container {
  padding: 1.75rem !important;
}

.swal2-popup {
  border-radius: 20px !important;
}

/* Scrollbar styling */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1; */
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 195, 195);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}
