.categorias__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.categorias__box:hover{
    color: #000;
}

.categorias__box__leftGroup{
    display: flex;
    align-items: center;
}

.categorias__box__leftGroup__icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.categorias__box__leftGroup__icon__progress{
    position: absolute;
    width: 3rem;
}

.categorias__box:last-child{
    margin-bottom: 0 !important;
}

.listContainer{
    max-height: calc(100vh - 310px);
    overflow-y: scroll;
    border-radius: 10px;
}

.listContainer--main{
    max-height: calc(100vh - 385px);
    overflow-y: scroll;
    border-radius: 10px;
}