.navegation__box__navItem{
    border: none;
    background-color: transparent;
    outline: none;
}

.navegation__box__navItem--activo{
    border-bottom: 3px solid var(--color-primary);
    box-sizing: border-box;
}

.navegation__box__navItem__logo i{
    color: #000;
    font-size: 18px;
    padding: 1.5rem 1.8rem;
}

.navegation__box__navItem--activo i{
    color: var(--color-primary);
    padding-bottom: 1.4rem !important;
}