.lists__title__container{
    display: flex;
    align-items: center;
}

.lists__title__container__colorCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.lists__title__container__colorCircle--danger{
    background-color: var(--color-danger);
}

.tableLoading{
    max-height: 200px;
    overflow: hidden;
}

.list__table__container{
    max-height: calc(100vh - 375px);
    border-radius: 10px;
    overflow-y: scroll;
}