.infoList__top__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.infoList__top__icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.infoList__top__icon__actions{
    width: 55px;
    height: 55px;
    text-decoration: none;
}

.infoList__top__icon__actions:hover{
    color: rgb(216, 216, 216);
}

.infoList__top__group__icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.infoList__top__group h1{
    font-size: 35px;
    margin-bottom: 0;
}

.listItem__saldos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.listItem__saldos__box{
    text-align: center;
}

.listItem__saldos__box p{
    font-size: 15px;
}

.listItem__saldos__box--main h3{
    font-size: 32px;
    font-weight: 800;
}

.listItem__saldos__extras{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}