.newExpense__optionsBox{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newExpense__optionsBox__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newExpense__optionsBox--top{
    display: flex;
    margin-bottom: 1rem;
}

.newExpense__optionsBox__button{
    width: 75px;
    height: 75px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    text-decoration: none;
    color: #fff;
}

.newExpense__optionsBox__button:focus, .newExpense__optionsBox__button:active{
    color: rgb(209, 209, 209);
}

.newExpense__optionsBox__button--ingreso{
    background: linear-gradient(45deg, var(--color-success-dark) 0%, var(--color-success-light) 100%);
    box-shadow: 0 0.2rem 10px rgba(54, 255, 104,0.2);
}

.newExpense__optionsBox__button--gasto{
    background: linear-gradient(45deg, var(--color-danger-dark) 0%, var(--color-danger-light) 100%);
    box-shadow: 0 0.2rem 10px rgba(255, 95, 95,0.2);
}

.newExpense__optionsBox__button--transferencia{
    background: linear-gradient(45deg, var(--color-warning-dark) 0%, var(--color-warning-light) 100%);
    box-shadow: 0 0.2rem 10px rgba(241, 175, 52, 0.2);
}