.backButton{
    padding: 1rem 1.3rem;
    background: linear-gradient(0deg,rgb(204, 204, 204) 0%,#fff 100%);
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.055);
    border-radius: 50%;
    position: absolute;
    top: 1rem; 
    z-index: 500;
    cursor: pointer;
}

.dataList__historyButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 1rem;
    cursor: pointer;
}

.dataList__historyButton:hover{
    color: #000;
}
