.navegation__box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5rem 0;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.navegation__box__newButton{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    display: flex;
    justify-content: center;
}

.navegation__box__newButton__a{
    text-decoration: none;
}

.navegation__box__newButton__circle{
    background: linear-gradient(36deg, rgb(78,167,161) 0%, rgb(54,230,255) 100%);
    box-shadow: 0 0.2rem 10px rgba(96, 187, 181, 0.4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegation__box__newButton__circle:hover i{
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.navegation__box__newButton__circle:hover>i{
    /* background: linear-gradient(36deg, rgb(64, 126, 122) 0%, rgb(72, 213, 231) 100%); */
    transform: rotate(180deg);
}

