.navegation__box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.navegation__box__newButton{
    position: absolute;
    margin: auto;
    bottom: 2rem;
    display: flex;
    justify-content: center;
}

.navegation__box__newButton__a{
    text-decoration: none;
    color: #ffffff;
}

.navegation__box__newButton__circle{
    background: linear-gradient(45deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
    box-shadow: 0 0.2rem 10px rgba(96, 187, 181, 0.4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegation__box__newButton__circle--disabled{
    background: linear-gradient(45deg, var(--color-primary-disabled) 0%, var(--color-primary-light-disabled) 100%);
}

.navegation__box__newButton__circle i{
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    color: #ffffff;
}

.navegation__box__newButton__circle:hover>i{
    transform: rotate(180deg);
    color: #ffffff;
}


@media screen and (min-width: 768px) {
    .navegation__box{
        padding: 0 3%;
    }
}

@media screen and (min-width: 1200px) {
    .navegation__box{
        padding: 0 25%;
    }
}